 *{
    padding:0;
    margin:0;
}
.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    top:0; 
    height: 10vh;
    overflow: hidden; 
    border-bottom: 0.1px solid gainsboro;
 }

  .col-1 img{
    height: 35px;
    margin-top: 15px;
    margin-left:30px ;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-2{
    border-left: 2px solid gray;
    margin-top:10px;
    margin-right:255px ;
    height: 55px;
  }
  .col-2 img{

    height: 35px;
    margin-top:10px;
    padding-left:5px;
    color:red;    
    }
  .col-3{
    margin-top:30px;
    margin-left:-250px ;
  }
  .col-4{
    position:absolute; 
    left:310px; 
    top:29px; 
    background-color:gainsboro;
  }
  .col-5{
    margin-left:680px;
    margin-top: 15px;
  }
  .col-6{
    margin-left:-80px;
    margin-top: 15px;
  }
main{
  background-color:#f3f3f3;    
  height:80vh;
    overflow-y: hidden;  

}

.min-main{
text-align: center;
}
.home-logo img{
  margin-top:-50px;
  height: 48px;
  margin-left: 20px;
  padding-left: 24px
}
.bor{
  margin-top: ;
  border-right: 4px solid red; 
}
.main{
  margin-top:-120px;
  margin-left: 80px;

}
#hm{
  height: 65px;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 20px;
}
.min-1 img{
  height: 45px;
  margin-right: 1000px;
  margin-top: -5px;
}
.min-1 p{
  margin-top: -35px;
  margin-left: -870px;
  
}
.main-1{
  height: 35px;
  /* background-color:#f0f0f0; */
  padding: 1px;
  margin-left: 20px;
  margin-right: 970px;
}
.add{
  margin-top: -32px;
  margin-left: -10px;
  padding-top:-33px;
  text-align: center;
  /* border-radius: 10px; */

  
}
footer{
  height: 8vh;
}
footer p{
    text-align:center;
    margin-top: 10px;
    background-color: white;
}

.side-bar{
  width: 100px;
  height: 90vh;
  background-color:white;
  margin-right:-100px ;
}

.card-1{
  width: 300px;
  /* border: 1px solid #ccc; */
  border-radius: 7px;
  margin-top: -40px;
  margin-left: 200px;
  padding: 5px;
  background-color: #fff;
}
.hr-1{
  transform: rotate(90deg);
  margin-top: -195px;
  margin-bottom: 200px;
  width: 40px;
  height: 352px;
}

.card {
  width: 94.7%;
  margin-top: -525px;
  margin-left: 20px;
  padding: 20px;
  background-color:#E0E0E0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.card-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 165px;
  /* border: 1px solid #ccc; */
  border-radius: 7px;
  margin-top: -39px;
  margin-left: 520px;
  padding: 1px;
  background-color: #fff;
}
.card1 {
  width: 180px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 5px;
  margin-left: -20px;
  background-color: #F9F9F9;
}
.line{
  margin-top: -70px;
  height: 2px;
  margin-left: -640px;

}
.line-1{
  margin-top: -4px;
  height: 10px;
  margin-left: 409px;
}
.day p{
  margin-left:730px ;
  margin-top: 10px;
}
.img-card img{
  margin-left: -270px;
  margin-top: 10px;
}
.text{
  color: #E0E0E0;
  margin-top: -20px;
  margin-left: -100px;
}
.sear-bar{
  background-color:crimson;
  /* height: 20px; */
  padding: 5px;
  width: 60px;
  margin-top: -25px;
  margin-left: 220px;
  color: #f3f3f3;
  border-radius: 2px;
}
#hmd{
  transform: rotate(59deg);
  height: 30px;
  margin-top: 25px;
  margin-left: 75px;
  width: 50px;
}
.card-2 input{
  border: none;
}
.card-2 img{
  height: 20px;
  margin-left: -30px;
  margin-top: 15px;
}
.card-3 span{
  margin-right: -0px;
  text-align: center;
}
.card-2 span{
margin-top:20px;
}
.card-2 p{
  transform: rotate(273deg);
  margin-left: 110px;
  margin-top:-14px ;
}
.crd21{
  margin-top: -4px;
}
.crd23{
  margin-left: -90px;
}
#drop{
  height: 10px;
  transform: translate(30px,1px);
}


.dcrd {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  /* border: none; */
  /* border-radius: 100px; */
}

.row {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;

}

.left {
  width: 80%;
  padding: px;
  background-color: white; 
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.right {
  width: 15%;
  padding: 25px;
  border-left: 2px dotted gray; 
  background-color: white; 
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;


}

.gap {
  height: 10px; 
}
.r1{
  width: 80%;
  

}

.r1img img{
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  
}
.r1img h4{
  margin-left: 40px;
  margin-top: -22px;

}
.r2 p{
  margin-left: 20px;
  margin-right: 20px;
}
#appr{
  margin-left: 240px;
  margin-top: -20px;
}
.rk11{
  width: 100px;
  /* border: 1px solid #ccc; */
  padding: 2px;
  margin-left: 310px;
  margin-top:-20px ;
  background-color: green;
}



